.elem {
    width: 700px;
    height: 30px;
    border: 1px solid black;
    padding: 50px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.text {
    margin-inline-start: 30px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    background: #8f3434;
    margin-inline-start: 1rem;
}

.dark {
    background: rgb(21, 18, 18);
    color: #fff;
}